* {
    margin: 0px;
}

.flag{
    background-color: white;
    height: 200px;
    width: 300px;
    margin: 20px;
    display: inline-block;
    margin-top: 50px;
}

.nav{
    position: fixed;
    background-color: beige;
    height: 30px;
    width: 100vw;
    align-content: center;
}

.box{
    height: 1000px;
    width: 600px;
    background-color: lightpink;
    margin-left: 20px;
}

.tab {
    height: 20px;
    width: 80px;
    display: inline-block;
    background-color: lawngreen;
    margin-top: 10px;
    margin-left: 10px;
    text-align: center;
    position: sticky;
    top: 30px;
}

#mtitle {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

#orange {
    background-color: orange;
    height: 67px;
}

#white {
    background-color: white;
    height: 67px;
}

#green {
    background-color: green;
    height: 67px;
}

.red {
    background-color: red;
    height: 50px;
}

.blue {
    background-color: blue;
    height: 100px;
}

#jred {
    background-color: red;
    height: 100px;
    width: 100px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 50%;
}

#lwhite {
    background-color: white;
    height: 80px;
    width: 80px;
    margin-left: 110px;
    position: relative;
    top: 10px;
    border-radius: 50%;
}

#iblue {
    background-color: blue;
    height: 67px;
    width: 67px;
    margin-left: 120px;
    border-radius: 50%;
}