* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100vh;
    color: white;
    background-color: black
}

h1 {
    margin-bottom: 20px;
}

#btn {
    margin-left: 70px;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;

    cursor: pointer;
    background-color: #db395f;
}

#result {
    margin-top: 20px;
    font-size: 20px;
}