* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 95vh;
    width: 95vw;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    height: 600px;
    width: 600px;
    background-color: green;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}